.cal, .waycal, .hycal {
    background:none;
}

$yellow: rgba(228, 207, 19, 0.4);
$yellow2: #f4df23;

.vertical.calendar, .vertical.waycalendar, .vertical.hycalendar {
    background:linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.5));
    border-radius:84px 84px 84px 84px;
    border:1px solid transparent;
    margin-top:9px;
    margin-bottom:9px;
    margin-left:3px;
    margin-right:3px;
}
.vertical.waycalendar {
    box-shadow:0 0 4px 4px rgba(255, 176, 2, 0.5);
}
.vertical.calendar {
    box-shadow:0 0 4px 4px rgba(228, 207, 19, 0.5);
}
.vertical.hycalendar {
    box-shadow:0 0 4px 4px rgba(233, 212, 167, 0.5);
}
.waycalendar, .calendar, .hycalendar {
    background:none;
}
.calendar, .calendar calendar, .waycalendar, .waycalendar calendar, .mem, .waymem, .hycalendar, .hycalendar calendar, .hymem {
    font-family:"Space Mono Nerd Font";
    font-size:1.15em;
    color:#efefef;
    border:1px solid transparent;
    transition:all 0.4s ease 0s;
    padding-left:1px;
    padding-right:1px;
}
.calendar calendar:selected, .calendar calendar.highlight {
    color:#fe0219;
}
.waycalendar calendar:selected, .waycalendar calendar.highlight {
    color:#f63117;
}
.hycalendar calendar:selected, .hycalendar calendar.highlight {
    color:#e6727a;
}
.calendar calendar.header {
    color:#a9df11;
}
.waycalendar calendar.header {
    color:#1accee;
}
.hycalendar calendar.header {
    color:#c3eb59;
}
.waydiskbox {
    background:radial-gradient(rgba(255, 176, 2, 0.4), rgba(0, 0, 0, 0.01));
}
.waymegabox {
    background:radial-gradient(rgba(40, 137, 186, 0.4), rgba(0, 0, 0, 0.01));
}
.diskbox {
    background:radial-gradient($yellow, rgba(0, 0, 0, 0.01));
}
.megabox {
    background:radial-gradient(rgba(108, 102, 218, 0.4), rgba(0, 0, 0, 0.01));
}
.hydiskbox {
    background:radial-gradient(rgba(233, 212, 167, 0.4), rgba(0, 0, 0, 0.01));
}
.hymegabox {
    background:radial-gradient(rgba(77, 119, 213, 0.4), rgba(0, 0, 0, 0.01));
}
.disk {
    color:$yellow2;
    background:rgba(0, 0, 0, 0.3);
    margin-top:40px;
}
.mega {
    color:#5254fe;
    background:rgba(0, 0, 0, 0.3);
    margin-top:40px;
}
.waydisk {
    color:#fef47f;
    background:rgba(0, 0, 0, 0.3);
    margin-top:40px;
}
.waymega {
    color:#19ccee;
    background:rgba(0, 0, 0, 0.3);
    margin-top:40px;
}
.hymega {
    color:#44bdda;
    background:rgba(0, 0, 0, 0.3);
    margin-top:40px;
}
.hydisk {
    color:#ffee60;
    background:rgba(0, 0, 0, 0.3);
    margin-top:40px;
}

.vertical.waymem, .vertical.mem, .vertical.hymem, .vertical.hycalendar {
    background:linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.5));
    border-radius:84px 84px 84px 84px;
    border:1px solid transparent;
    margin-top:6px;
    margin-bottom:6px;
    margin-left:3px;
    margin-right:3px;
}
.vertical.waymem {
    box-shadow:0 0 4px 4px rgba(12, 201, 123, 0.5);
}
.vertical.mem {
    box-shadow:0 0 4px 4px rgba(153, 208, 2, 0.5);
}
.vertical.hymem {
    box-shadow:0 0 4px 4px rgba(201, 223, 146, 0.5);
}
.waymem, .mem, .hymem {
    background:none;
}
.wayrambox {
    background:radial-gradient(rgba(12, 201, 123, 0.4), rgba(0, 0, 0, 0.01));
}
.waycpubox {
    background:radial-gradient(rgba(206, 40, 40, 0.4), rgba(0, 0, 0, 0.01));
}
.rambox {
    background:radial-gradient(rgba(153, 207, 1, 0.4), rgba(0, 0, 0, 0.01));
}
.cpubox {
    background:radial-gradient(rgba(238, 0, 10, 0.4), rgba(0, 0, 0, 0.01));
}
.hyrambox {
    background:radial-gradient(rgba(201, 223, 146, 0.4), rgba(0, 0, 0, 0.01));
}
.hycpubox {
    background:radial-gradient(rgba(238, 75, 80, 0.4), rgba(0, 0, 0, 0.01));
}
.ram {
    color:#a9df11;
    background:rgba(0, 0, 0, 0.3);
    margin-top:15px;
    margin-bottom:15px;
}
.wayram {
    color:#1cd98b;
    background:rgba(0, 0, 0, 0.3);
    margin-top:15px;
    margin-bottom:15px;
}
.cpu {
    color:#fe0219;
    background:rgba(0, 0, 0, 0.3);
    margin-top:15px;
    margin-bottom:15px;
}
.waycpu {
    color:#f63117;
    background:rgba(0, 0, 0, 0.3);
    margin-top:15px;
    margin-bottom:15px;
}
.hyram {
    color:#c3eb59;
    background:rgba(0, 0, 0, 0.3);
    margin-top:15px;
    margin-bottom:15px;
}
.hycpu {
    color:#e6727a;
    background:rgba(0, 0, 0, 0.3);
    margin-top:15px;
    margin-bottom:15px;
}
.art {
    background:url('/tmp/mpd_cover.jpg');
    background-origin:padding-box;
    background-size:contain;
    background-repeat:no-repeat;
    border-top:1.5em solid transparent;
    border-left:2em solid transparent;
    opacity:0.9;
}
.wayprogress, .progress {
    margin-top:2px;
    margin-bottom:-15px;
    margin-left:30px;
    margin-right:30px;
}
progressbar.wayprogress > trough, progressbar.progress > trough {
    background:none;
    border:none;
}
progressbar.wayprogress > trough *, progressbar.wayprogress > trough * {
    color:yellow;
    background:linear-gradient(90deg, rgba(255, 176, 2, 0.5), rgba(255, 255, 255, 0.5));
    border:none;
}
progressbar.progress > trough *, progressbar.progress > trough * {
    background:linear-gradient(90deg, rgba(108, 102, 218, 0.5), rgba(255, 255, 255, 0.5));
    border:none;
}

.waypower, .power {
    background:linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.5));
    border-radius:84px 84px 84px 84px;
    border:0px;
}
.vertical.waypower, .vertical.power, .horizontal.files, .horizontal.wayfiles {
    background:none;
    border-radius:0px;
    border:none;
    margin-left:14px;
    margin-right:14px;
}
.mypower, .mywaypower, .myfiles, .mywayfiles {
    background:none;
    border:none;
    border-radius:0px;
    margin-left:0px;
    box-shadow:none;
}
.background.power {
    box-shadow:0 2px 3px 3px rgba(238, 1, 10, 0.5);
}
.power {
    /* box-shadow:0 0 3px 3px rgba(218, 61, 56, 0.5); */
    .poweroff {
        background:radial-gradient(rgba(0, 0, 0, 0.5), rgba(238, 1, 10, 0.6));
        color:#fe0219;
        font-size:2.2em;
        border-radius:70px 70px 70px 70px;
        border:1px solid transparent;
        margin-top:20px;
        margin-bottom:20px;
        padding-left:15px;
        padding-right:18px;
        text-shadow:2px 2px black;
        box-shadow:2px 2px rgba(0, 0, 0, 0.5);
    }
    .poweroff:hover {
        background:radial-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.6));
        color:white;
        border:1px solid #fe0219;
    }
    .poweroff:active {
        background:rgba(0, 0, 0, 0.5);
        color:#ee0009;
        border:1px solid #ee0009;
    }
    .logout {
        background:radial-gradient(rgba(0, 0, 0, 0.5), rgba(154, 208, 2, 0.6));
        color:#a9df11;
        font-size:2.2em;
        border-radius:70px 70px 70px 70px;
        border:1px solid transparent;
        margin-top:20px;
        margin-bottom:20px;
        padding-left:15px;
        padding-right:18px;
        text-shadow:2px 2px black;
        box-shadow:2px 2px rgba(0, 0, 0, 0.5);
    }
    .logout:hover {
        background:radial-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.6));
        color:white;
        border:1px solid #a9df11;
    }
    .logout:active {
        background:rgba(0, 0, 0, 0.5);
        color:#99cf01;
        border:1px solid #99cf01;
    }
    .reboot {
        background:radial-gradient(rgba(0, 0, 0, 0.5), rgba(175, 56, 219, 0.5));
        color:#ff4de7;
        font-size:2.2em;
        border-radius:70px 70px 70px 70px;
        border:1px solid transparent;
        margin-top:20px;
        margin-bottom:20px;
        padding-left:15px;
        padding-right:18px;
        text-shadow:2px 2px black;
        box-shadow:2px 2px rgba(0, 0, 0, 0.5);
    }
    .reboot:hover {
        background:radial-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.6));
        color:white;
        border:1px solid #ff4de7;
    }
    .reboot:active {
        background:rgba(0, 0, 0, 0.5);
        color:#ef3dd6;
        border:1px solid black;
    }
}
.background.waypower {
    box-shadow:0 0 3px 3px rgba(230, 10, 10, 0.5);
}
.waypower {
    .poweroff {
        background:radial-gradient(rgba(0, 0, 0, 0.5), rgba(206, 40, 40, 0.6));
        color:#f63117;
        font-size:2.2em;
        border-radius:70px 70px 70px 70px;
        border:1px solid rgba(0, 0, 0, 0.4);
        margin-top:20px;
        margin-bottom:20px;
        padding-left:15px;
        padding-right:18px;
        text-shadow:2px 2px black;
        box-shadow:2px 2px rgba(0, 0, 0, 0.5);
    }
    .poweroff:hover {
        background:radial-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.6));
        color:white;
        border:1px solid #f63117;
    }
    .poweroff:active {
        background:rgba(0, 0, 0, 0.5);
        color:#f63117;
        border:1px solid black;
    }
    .logout {
        background:radial-gradient(rgba(0, 0, 0, 0.5), rgba(12, 201, 123, 0.6));
        color:#1cd98b;
        font-size:2.2em;
        border-radius:70px 70px 70px 70px;
        border:1px solid rgba(0, 0, 0, 0.4);
        margin-top:20px;
        margin-bottom:20px;
        padding-left:15px;
        padding-right:18px;
        text-shadow:2px 2px black;
        box-shadow:2px 2px rgba(0, 0, 0, 0.5);
    }
    .logout:hover {
        background:radial-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.6));
        color:white;
        border:1px solid #1cd98b;
    }
    .logout:active {
        background:rgba(0, 0, 0, 0.5);
        color:#1cd98b;
        border:1px solid black;
    }
    .reboot {
        background:radial-gradient(rgba(0, 0, 0, 0.5), rgba(40, 137, 186, 0.6));
        color:#09bcde;
        font-size:2.2em;
        border-radius:70px 70px 70px 70px;
        border:1px solid rgba(0, 0, 0, 0.4);
        margin-top:20px;
        margin-bottom:20px;
        padding-left:15px;
        padding-right:18px;
        text-shadow:2px 2px black;
        box-shadow:2px 2px rgba(0, 0, 0, 0.5);
    }
    .reboot:hover {
        background:radial-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.6));
        color:white;
        border:1px solid #09bcde;
    }
    .reboot:active {
        background:rgba(0, 0, 0, 0.5);
        color:#09bcde;
        border:1px solid black;
    }
}

.background.files, .background.wayfiles {
    background:none;
}
.horizontal.files .myfiles, .horizontal.wayfiles .myfiles {
    background:none;
    padding-left:5px;
    padding-right:5px;
    margin-left:-2px;
    margin-right:-2px;
}
.wayfiles, .files {
    .home, .documents, .downloads, .music, .pictures, .videos, .mymega, .tbcom {
        font-size:2.5em;
        padding:5px;
        border-radius:80px 80px 80px 80px;
        padding-left:9px;
        padding-right:16px;
        border:1px solid rgba(0, 0, 0, 0.5);
    }
}

.files {
    .home, .mymega {
        background:radial-gradient(rgba(0, 0, 0, 0.4), rgba(228, 207, 19, 0.5));
        color:#f4df23;
        box-shadow:0 3px 3px 3px rgba(0, 0, 0, 0.4);
        margin-bottom:10px;
    }
    .home:hover, .mymega:hover {
        background:radial-gradient(rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.5));
        box-shadow:0 4px 4px 4px rgba(228, 207, 19, 0.4);
        color:white;
        border:1px solid #f4df23;
    }
    .home {
        margin-top:2px;
    }
    .mymega {
        margin-top:10px;
    }
    .documents {
        background:radial-gradient(rgba(0, 0, 0, 0.4), rgba(175, 56, 219, 0.5));
        color:#ff4de7;
        margin-top:10px;
        margin-bottom:10px;
        box-shadow:0 3px 3px 3px rgba(0, 0, 0, 0.4);
    }
    .documents:hover {
        background:radial-gradient(rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.5));
        color:white;
        border:1px solid #ff4de7;
        box-shadow:0 4px 4px 4px rgba(175, 56, 219, 0.4);
    }
    .downloads, .tbcom {
        background:radial-gradient(rgba(0, 0, 0, 0.4), rgba(153, 207, 1, 0.5));
        color:#a9df11;
        margin-top:10px;
        margin-bottom:10px;
        box-shadow:0 3px 3px 3px rgba(0, 0, 0, 0.4);
    }
    .downloads:hover, .tbcom:hover {
        background:radial-gradient(rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.5));
        color:white;
        box-shadow:0 4px 4px 4px rgba(153, 207, 1, 0.5);
        border:1px solid #a9df11;
    }
    .music {
        background:radial-gradient(rgba(0, 0, 0, 0.4), rgba(67, 167, 185, 0.4));
        box-shadow:0 3px 3px 3px rgba(0, 0, 0, 0.4);
        color:#53f7f9;
        margin-top:10px;
        margin-bottom:10px;
    }
    .music:hover {
        background:radial-gradient(rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.5));
        box-shadow:0 4px 4px 4px rgba(68, 168, 187, 0.5);
        border:1px solid #53f7f9;
        color:white;
    }
    .pictures {
        background:radial-gradient(rgba(0, 0, 0, 0.4), rgba(238, 0, 10, 0.5));
        box-shadow:0 3px 3px 3px rgba(0, 0, 0, 0.4);
        color:#fe0219;
        margin-top:2px;
        margin-bottom:10px;
    }
    .pictures:hover {
        background:radial-gradient(rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.5));
        color:white;
        box-shadow:0 4px 4px 4px rgba(238, 0, 10, 0.5);
        border:1px solid #fe0219;
    }
    .videos {
        background:radial-gradient(rgba(0, 0, 0, 0.4), rgba(108, 102, 218, 0.5));
        color:#5254fe;
        box-shadow:0 3px 3px 3px rgba(0, 0, 0, 0.4);
        margin-top:10px;
        margin-bottom:10px;
    }
    .videos:hover {
        background:radial-gradient(rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.5));
        color:white;
        box-shadow:0 4px 4px 4px rgba(108, 102, 218, 0.5);
        border:1px solid #5254fe;
    }
}
.wayfiles {
    .home, .mymega {
        background:radial-gradient(rgba(255, 176, 2, 0.5), rgba(0, 0, 0, 0.4));
        color:#fef47f;
        box-shadow:0 3px 3px 3px rgba(0, 0, 0, 0.4);
        margin-bottom:10px;
    }
    .home {
        margin-top:2px;
    }
    .mymega {
        margin-top:10px;
    }
    .home:hover, .mymega:hover {
        background:radial-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.4));
        color:white;
        box-shadow:0 4px 4px 4px rgba(255, 176, 2, 0.4);
        border:1px solid #fef47f;
    }
    .documents {
        background:radial-gradient(rgba(196, 105, 166, 0.5), rgba(0, 0, 0, 0.4));
        color:#e36ab1;
        box-shadow:0 3px 3px 3px rgba(0, 0, 0, 0.5);
        margin-top:10px;
        margin-bottom:10px;
    }
    .documents:hover {
        background:radial-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.4));
        color:white;
        box-shadow:0 4px 4px 4px rgba(196, 105, 166, 0.5);
        border:1px solid #e36ab1;
    }
    .downloads, .tbcom {
        background:radial-gradient(rgba(12, 201, 123, 0.5), rgba(0, 0, 0, 0.4));
        color:#1cd98b;
        box-shadow:0 3px 3px 3px rgba(0, 0, 0, 0.5);
        margin-top:10px;
        margin-bottom:10px;
    }
    .downloads:hover, .tbcom:hover {
        background:radial-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.4));
        box-shadow:0 4px 4px 4px rgba(12, 201, 123, 0.5);
        color:white;
        border:1px solid #1cd98b;
    }
    .music {
        background:radial-gradient(rgba(144, 129, 246, 0.5), rgba(0, 0, 0, 0.4));
        color:#9aadf9;
        box-shadow:0 3px 3px 3px rgba(0, 0, 0, 0.5);
        margin-top:10px;
        margin-bottom:10px;
    }
    .music:hover {
        background:radial-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.4));
        box-shadow:0 4px 4px 4px rgba(144, 129, 246, 0.5);
        color:white;
        border:1px solid #9aadf9;
    }
    .pictures {
        background:radial-gradient(rgba(206, 40, 40, 0.5), rgba(0, 0, 0, 0.4));
        box-shadow:0 3px 3px 3px rgba(0, 0, 0, 0.5);
        margin-top:2px;
        margin-bottom:10px;
        color:#f63117;
    }
    .pictures:hover {
        background:radial-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.4));
        box-shadow:0 4px 4px 4px rgba(206, 40, 40, 0.5);
        color:white;
        border:1px solid #f63117;
    }
    .videos {
        background:radial-gradient(rgba(40, 137, 186, 0.5), rgba(0, 0, 0, 0.4));
        box-shadow:0 3px 3px 3px rgba(0, 0, 0, 0.5);
        margin-top:10px;
        margin-bottom:10px;
        color:#19ccee;
    }
    .videos:hover {
        background:radial-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.4));
        box-shadow:0 4px 4px 4px rgba(40, 137, 186, 0.5);
        color:white;
        border:1px solid #19ccee;
    }
}
