* {
    font-family:"GoMono Nerd Font";
    font-size:21px;
    color:#efefef;
}

window {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0));
    border-radius:0px 0px 0px 0px;
    margin-top:1px;
}

#title, #window {
    padding-left:4px;
    color:#ffffff;
    text-shadow:2px 2px rgba(0, 0, 0, 0.7);
    margin-top:2px;
}

#mpd, #bluetooth.off {
    padding-right:6px;
    color:#ffffff;
    text-shadow:2px 2px rgba(0, 0, 0, 0.7);
}

#cpu, #wireplumber.muted, #pulseaudio.muted, #privacy {
    color:#ff2800;
    background:linear-gradient(0deg, rgba(234, 84, 10, 0.5), rgba(0, 0, 0, 0.2));
    margin-left:0;
    margin-right:0;
    padding-left:10px;
    padding-right:10px;
    text-shadow:2px 2px rgba(0, 0, 0, 0.5);
}

#privacy span {
    color:#ff2800;
}

#cpu:hover {
    background:linear-gradient(0deg, rgba(150, 150, 150, 0.5), rgba(0, 0, 0, 0.2));
    color:#efefef;
    text-shadow:2px 2px rgba(150, 150, 150, 0.5);
}

#cpu {
    border-radius:40px 0px 0px 40px;
    margin-left:2px;
    margin-right:0px;
    padding-left:12px;
    transition:all 0.1s ease 0s;
}

#pulseaudio, #disk {
    color:#fdcb46;
    background:linear-gradient(0deg, rgba(227, 175, 103, 0.5), rgba(0, 0, 0, 0.2));
    margin-left:1px;
    margin-right:0px;
    border-radius:40px 0px 0px 40px;
    padding-left:10px;
    padding-right:10px;
    text-shadow:2px 2px rgba(0, 0, 0, 0.7);
    transition:all 0.1s ease 0s;
}

#pulseaudio:hover, #pulseaudio.bluetooth:hover {
    color:#efefef;
    background:linear-gradient(0deg, rgba(150, 150, 150, 0.5), rgba(0, 0, 0, 0.2));
    text-shadow:2px 2px rgba(150, 150, 150, 0.5);
    box-shadow:3px 2px rgba(140, 140, 140, 0.5);
}

#disk:hover {
    color:#efefef;
    background:linear-gradient(0deg, rgba(150, 150, 150, 0.5), rgba(0, 0, 0, 0.2));
    text-shadow:2px 2px rgba(150, 150, 150, 0.5);
}

#pulseaudio {
    border-radius:40px 40px 40px 40px;
    margin-right:2px;
    margin-left:1px;
    padding-left:11px;
    padding-right:11px;
    box-shadow:3px 2px rgba(227, 175, 103, 0.5);
}

#workspaces button, #tags button {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
    padding-left:16px;
    padding-right:18px;
    margin-left:2px;
    margin-right:3px;
    border-radius:40px 40px 40px 40px;
    border:0px solid transparent;
    text-shadow:2px 2px rgba(0, 0, 0, 0.7);
    box-shadow:2px 2px rgba(0, 0, 0, 0.5);
    outline:0;
    transition:all 0.1s ease 0s;
}

#workspaces button * {
    outline:0;
}

#workspaces button:hover, #tags button:hover {
    background:linear-gradient(0deg, rgba(234, 84, 10, 0.6), rgba(0, 0, 0, 0.5));
    text-shadow:inherit;
    margin-left:2px;
    margin-right:3px;
    border-radius:40px 40px 40px 40px;
    border:0px solid transparent;
    color:#bcbcbc;
    text-shadow:3px 3px rgba(234, 84, 10, 0.5);
    box-shadow:3px 2px rgba(234, 84, 10, 0.4);
}

#workspaces button.focused, #tags button.focused, #tags button.focused.occupied, #workspaces button.active {
    background:linear-gradient(0deg, rgba(145, 208, 129, 0.6), rgba(0, 0, 0, 0.2));
    box-shadow:3px 2px rgba(145, 208, 129, 0.5);
}

#workspaces button.focused label, #workspaces button.active label {
    color:#93eab9;
}

#workspaces button.focused:hover, #tags button.focused:hover, #tags button.focused.occupied:hover, #workspaces button.active:hover {
    text-shadow:3px 3px rgba(145, 208, 129, 0.5);
}

#tags button.occupied {
    background:linear-gradient(0deg, rgba(145, 208, 129, 0.6), rgba(0, 0, 0, 0.2));
}

#battery, #idle_inhibitor {
    transition:all 0.1s ease 0s;
}

#battery, #idle_inhibitor, #pulseaudio.bluetooth, #temperature {
    color:#54cdea;
    background:linear-gradient(0deg, rgba(93, 135, 229, 0.5), rgba(0, 0, 0, 0.2));
    margin-left:0;
    margin-right:0;
    padding-left:11px;
    padding-right:11px;
    text-shadow:2px 2px rgba(0, 0, 0, 0.7);
}

#battery:hover, #idle_inhibitor:hover {
    color:#efefef;
    background:linear-gradient(0deg, rgba(150, 150, 150, 0.5), rgba(0, 0, 0, 0.2));
    text-shadow:2px 2px rgba(150, 150, 150, 0.5);
}

#pulseaudio.bluetooth {
    border-radius:40px 0px 0px 40px;
    margin-left:2px;
}
#temperature {
    margin-right:3px;
    margin-left:0;
    border-radius:0px 40px 40px 0px;
    box-shadow:3px 3px rgba(93, 135, 229, 0.5);
    transition:all 0.1s ease 0s;
}

#temperature:hover {
    color:#efefef;
    background:linear-gradient(0deg, rgba(150, 150, 150, 0.5), rgba(0, 0, 0, 0.2));
    text-shadow:2px 2px rgba(150, 150, 150, 0.5);
    box-shadow:3px 3px rgba(60, 60, 60, 0.5);
}

#pulseaudio.bluetooth {
    border-radius:40px 40px 40px 40px;
    margin-right:2px;
    box-shadow:3px 2px rgba(93, 135, 229, 0.5);
}

#battery.warning {
    color:#fdcb46;
    border-radius:0px 40px 40px 0px;
    background:linear-gradient(0deg, rgba(227, 175, 103, 0.5), rgba(0, 0, 0, 0.3));
    margin-left:0;
    margin-right:3px;
    box-shadow:3px 3px rgba(227, 175, 103, 0.5);
}

#battery.critical {
    color:#ff2800;
    border-radius:0px 40px 40px 0px;
    font-weight:bold;
    background:linear-gradient(0deg, rgba(234, 84, 10, 0.5), rgba(0, 0, 0, 0.4));
    margin-left:0px;
    margin-right:3px;
    box-shadow:3px 3px rgba(255, 255, 255, 0.5);
}

#memory, #backlight, #wireplumber {
    color:#93ebb9;
    background:linear-gradient(0deg, rgba(145, 208, 109, 0.5), rgba(0, 0, 0, 0.2));
    margin-left:0;
    margin-right:0;
    padding-left:10px;
    padding-right:10px;
    text-shadow:2px 2px rgba(0, 0, 0, 0.7);
    transition:all 0.1s ease 0s;
}
#wireplumber {
    border-radius:38px 0px 0px 38px;
    margin-left:2px;
}
#backlight {
    border-radius:0px;
}
#backlight:hover {
    box-shadow:3px 2px rgba(140, 140, 140, 0.5);
}

#memory:hover, #wireplumber:hover, #backlight:hover {
    color:#efefef;
    background:linear-gradient(0deg, rgba(150, 150, 150, 0.5), rgba(0, 0, 0, 0.2));
    text-shadow:2px 2px rgba(150, 150, 150, 0.5);
}

#cava {
    color:#fdcb46;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
    border-radius:0px 0px 0px 0px;
    padding-left:4px;
    padding-right:4px;
    margin-left:0;
    margin-right:0;
    text-shadow:2px 2px rgba(227, 175, 103, 0.4);
}

#cava:hover {
    color:#efefef;
    background:linear-gradient(0deg, rgba(150, 150, 150, 0.5), rgba(0, 0, 0, 0.2));
    text-shadow:2px 2px rgba(150, 150, 150, 0.5);
}

#network, #custom-clock {
   color:#f36c97;
   background:linear-gradient(0deg, rgba(229, 111, 149, 0.5), rgba(0, 0, 0, 0.2));
   border-radius:0px 40px 40px 0px;
   margin-left:0;
   margin-right:3px;
   padding-left:11px;
   padding-right:11px;
   text-shadow:2px 2px rgba(0, 0, 0, 0.5);
   box-shadow:3px 2px rgba(229, 111, 149, 0.5);
   transition:all 0.1s ease 0s;
}

#network:hover, #custom-clock:hover {
    color:#efefef;
    background:linear-gradient(0deg, rgba(150, 150, 150, 0.5), rgba(0, 0, 0, 0.2));
    text-shadow:2px 2px rgba(150, 150, 150, 0.5);
    box-shadow:3px 2px rgba(140, 140, 140, 0.5);
}

#bluetooth {
    transition:all 0.1s ease 0s;
}
#bluetooth.on, #bluetooth.off, #bluetooth.disabled {
    color:#ff2800;
    background:linear-gradient(0deg, rgba(234, 84, 10, 0.5), rgba(0, 0, 0, 0.2));
    border-radius:0px 40px 40px 0px;
    box-shadow:3px 2px rgba(234, 84, 10, 0.5);
    margin-left:0;
    margin-right:4px;
    padding-left:10px;
    padding-right:11px;
    text-shadow:2px 2px rgba(0, 0, 0, 0.7);
}

#bluetooth.connected, #bluetooth.connected.pairable {
    color:#93ebb9;
    background:linear-gradient(0deg, rgba(145, 208, 129, 0.5), rgba(0, 0, 0, 0.2));
    border-radius:0px 40px 40px 0px;
    margin-left:0;
    margin-right:4px;
    padding-left:10px;
    padding-right:11px;
    text-shadow:2px 2px rgba(0, 0, 0, 0.7);
    box-shadow:3px 2px rgba(145, 208, 129, 0.5);
}

#bluetooth.pairable:not(.connected), #bluetooth.discoverable {
    color:#64cdfa;
    background:linear-gradient(0deg, rgba(93, 135, 229, 0.5), rgba(0, 0, 0, 0.2));
    border-radius:0px 40px 40px 0px;
    margin-left:0;
    margin-right:4px;
    padding-left:11px;
    padding-right:12px;
    text-shadow:2px 2px rgba(0, 0, 0, 0.7);
    box-shadow:3px 2px rgba(93, 135, 229, 0.4);
}

#bluetooth.discovering {
    color:#fdcb46;
    background:linear-gradient(0deg, rgba(227, 175, 103, 0.5), rgba(0, 0, 0, 0.2));
    border-radius:0px 40px 40px 0px;
    margin-left:0;
    margin-right:4px;
    padding-left:11px;
    padding-right:12px;
    text-shadow:2px 2px rgba(0, 0, 0, 0.7);
    box-shadow:3px 2px rgba(227, 175, 103, 0.5);
}

#bluetooth.discovering:hover, #bluetooth.connected:hover, #bluetooth.discoverable:hover, #bluetooth.pairable:hover, #bluetooth.off:hover {
    color:#efefef;
    background:linear-gradient(0deg, rgba(150, 150, 150, 0.5), rgba(0, 0, 0, 0.2));
    text-shadow:2px 2px rgba(150, 150, 150, 0.5);
    box-shadow:3px 2px rgba(140, 140, 140, 0.5);
}

#battery {
    border-radius:0px 38px 38px 0px;
    box-shadow:3px 2px rgba(93, 135, 229, 0.4);
}
