* {
    font-family:"SpaceMono Nerd Font";
    font-size:21px;
    background:transparent;
    color:#efefef;
}

tooltip {
    border:none;
    border-radius:0;
    color:#efefef;
    text-shadow:2px 2px rgba(0, 0, 0, 0.6);
    margin-bottom:1px;
    padding:0;
}

#window {
    color:#010101;
    text-shadow:2px 2px rgba(0, 0, 0, 0.6)
}

#mpd {
    color:#010101;
    text-shadow:2px 2px rgba(0, 0, 0, 0.6);
}

#cpu, #wireplumber.muted, #pulseaudio.muted {
    color:#c94b3c;
    background:linear-gradient(180deg, rgba(181, 53, 28, 0.7), rgba(0, 0, 0, 0.5));
    margin-left:0;
    margin-right:0;
    padding-left:10px;
    padding-right:10px;
    text-shadow:2px 2px rgba(0, 0, 0, 0.6);
}

#pulseaudio, #disk {
    color:#dedc91;
    background:linear-gradient(180deg, rgba(222, 220, 145, 0.7), rgba(0, 0, 0, 0.5));
    margin-left:0;
    margin-right:0;
    padding-left:10px;
    padding-right:10px;
    text-shadow:2px 2px rgba(0, 0, 0, 0.6);
}

#memory, #backlight, #wireplumber {
    color:#40a789;
    background:linear-gradient(180deg, rgba(58, 161, 131, 0.7), rgba(0, 0, 0, 0.5));
    margin-left:0;
    margin-right:0;
    padding-left:10px;
    padding-right:10px;
    text-shadow:2px 2px rgba(0, 0, 0, 0.6);
}

#workspaces button, #tags button {
    background:linear-gradient(180deg, rgba(120, 120, 120, 0.7), rgba(0, 0, 0, 0.5));
    padding-left:17px;
    padding-right:17px;
    border-radius:0px 0px 0px 0px;
    border:0px solid transparent;
    color:#dfdfdf;
    text-shadow:2px 2px rgba(0, 0, 0, 0.6);
}

#workspaces button * {
    background:none;
}

#workspaces button:hover, #tags button:hover {
    background:linear-gradient(180deg, rgba(181, 53, 28, 0.7), rgba(0, 0, 0, 0.5));
    box-shadow:inherit;
    text-shadow:inherit;
    border-radius:0px 0px 0px 0px;
    border:0px solid transparent;
    color:#c94b3b;
    text-shadow:3px 3px rgba(181, 53, 27, 0.6);
}

#workspaces button.focused, #tags button.focused, #tags button.focused.occupied {
    background:linear-gradient(180deg, rgba(97, 185, 167, 0.7), rgba(0, 0, 0, 0.5));
    color:#81d8c6;
}

#workspaces button.focused:hover, #tags button.focused:hover, #tags button.focused.occupied:hover {
    text-shadow:3px 3px rgba(107, 195, 177, 0.6);
}

#tags button.occupied {
    background:linear-gradient(180deg, rgba(239, 175, 96, 0.7), rgba(0, 0, 0, 0.5));
    color:#fff293;
}

#battery, #idle_inhibitor, #pulseaudio.bluetooth, #temperature {
    color:#61b8b6;
    background:linear-gradient(180deg, rgba(107, 194, 182, 0.7), rgba(0, 0, 0, 0.5));
    margin-left:0;
    margin-right:0;
    padding-left:11px;
    padding-right:12px;
    text-shadow:2px 2px rgba(0, 0, 0, 0.6);
}

#bluetooth.off {
    padding-left:9px;
    padding-right:9px;
    margin-left:0;
    margin-right:0;
}

#bluetooth.on {
    color:#c94b3b;
    background:linear-gradient(180deg, rgba(181, 53, 28, 0.7), rgba(0, 0, 0, 0.5));
    margin-left:0;
    margin-right:0;
    padding-left:10px;
    padding-right:10px;
    text-shadow:2px 2px rgba(0, 0, 0, 0.7);
}

#bluetooth.connected, #bluetooth.connected.pairable {
    color:#50b799;
    background:linear-gradient(180deg, rgba(58, 161, 131, 0.7), rgba(0, 0, 0, 0.1));
    margin-left:0;
    margin-right:0;
    padding-left:10px;
    padding-right:10px;
    text-shadow:2px 2px rgba(0, 0, 0, 0.7);
}

#bluetooth.pairable:not(.connected), #bluetooth.discoverable {
    color:#61b8b6;
    background:linear-gradient(180deg, rgba(107, 194, 182, 0.7), rgba(0, 0, 0, 0.1));
    margin-left:0;
    margin-right:0;
    padding-left:11px;
    padding-right:11px;
    text-shadow:2px 2px rgba(0, 0, 0, 0.7);
}

#bluetooth.discovering {
    color:#dedc91;
    background:linear-gradient(0deg, rgba(222, 220, 145, 0.6), rgba(0, 0, 0, 0.1));
    margin-left:0;
    margin-right:0;
    padding-left:11px;
    padding-right:11px;
    text-shadow:2px 2px rgba(0, 0, 0, 0.7);
}

#custom-clock, #network {
    color:#c26cd5;
    background:linear-gradient(180deg, rgba(176, 105, 152, 0.7), rgba(0, 0, 0, 0.5));
    margin-left:0;
    margin-right:0;
    padding-left:12px;
    padding-right:10px;
    text-shadow:2px 2px rgba(0, 0, 0, 0.6);
}
