* {
    font-family:"SpaceMono Nerd Font";
    font-size:21px;
    background:transparent;
    color:#ffefef;
}

tooltip {
    border:none;
    border-radius:0;
    color:#efefef;
    text-shadow:2px 2px rgba(0, 0, 0, 0.6);
    margin-bottom:1px;
    padding:0;
}

#window {
    color:#ffefef;
    text-shadow:2px 2px rgba(0, 0, 0, 0.6);
    padding-left:5px;
}

#mpd {
    color:#ffefef;
    text-shadow:2px 2px rgba(0, 0, 0, 0.6);
}

#cpu, #wireplumber.muted, #pulseaudio.muted {
    color:#ea4d48;
    background:linear-gradient(0deg, rgba(218, 61, 56, 0.5), rgba(0, 0, 0, 0.4));
    margin-left:0;
    margin-right:0;
    padding-left:10px;
    padding-right:10px;
    text-shadow:2px 2px rgba(0, 0, 0, 0.6);
}

#pulseaudio, #disk {
    color:#fbb73e;
    background:linear-gradient(0deg, rgba(235, 167, 46, 0.5), rgba(0, 0, 0, 0.4));
    margin-left:2px;
    margin-right:0;
    padding-left:10px;
    padding-right:10px;
    border-radius:40px 0px 0px 40px;
    text-shadow:2px 2px rgba(0, 0, 0, 0.6);
}

#memory, #backlight, #wireplumber {
    color:#74c280;
    background:linear-gradient(0deg, rgba(100, 178, 112, 0.5), rgba(0, 0, 0, 0.4));
    margin-left:0;
    margin-right:0;
    padding-left:10px;
    padding-right:10px;
    text-shadow:2px 2px rgba(0, 0, 0, 0.6);
}

#workspaces button, #tags button {
    background:linear-gradient(0deg, rgba(120, 120, 120, 0.5), rgba(0, 0, 0, 0.4));
    padding-left:17px;
    padding-right:17px;
    margin-left:1px;
    margin-right:2px;
    border-radius:40px 40px 40px 40px;
    border:0px solid transparent;
    color:#dfdfdf;
    text-shadow:2px 2px rgba(0, 0, 0, 0.6);
    box-shadow:2px 2px rgba(0, 0, 0, 0.5);
    outline:0;
}

#workspaces button * {
    background:none;
    outline:0;
}

#workspaces button:hover, #tags button:hover {
    background:linear-gradient(0deg, rgba(100, 178, 112, 0.5), rgba(0, 0, 0, 0.4));
    text-shadow:inherit;
    margin-left:1px;
    margin-right:2px;
    border-radius:40px 40px 40px 40px;
    border:0px solid transparent;
    color:#c94b3b;
    text-shadow:3px 3px rgba(116, 194, 128, 0.6);
    box-shadow:2px 2px rgba(116, 194, 128, 0.5);
}

#workspaces button.focused, #tags button.focused, #tags button.focused.occupied {
    background:linear-gradient(0deg, rgba(218, 61, 56, 0.5), rgba(0, 0, 0, 0.4));
    color:#81d8c6;
    box-shadow:2px 2px rgba(234, 72, 77, 0.5);
}

#workspaces button.focused:hover, #tags button.focused:hover, #tags button.focused.occupied:hover {
    text-shadow:3px 3px rgba(234, 72, 77, 0.6);
}

#tags button.occupied {
    background:linear-gradient(180deg, rgba(239, 175, 96, 0.5), rgba(0, 0, 0, 0.4));
    color:#fff293;
}

#battery, #idle_inhibitor, #pulseaudio.bluetooth, #temperature {
    color:#5b55ca;
    background:linear-gradient(0deg, rgba(75, 69, 186, 0.5), rgba(0, 0, 0, 0.4));
    text-shadow:2px 2px rgba(0, 0, 0, 0.6);
}

#pulseaudio.bluetooth, #temperature {
    margin-left:0;
    margin-right:0;
    padding-left:11px;
    padding-right:12px;
}

#battery {
    border-radius:0px 40px 40px 0px;
    padding-left:10px;
    padding-right:12px;
    margin-left:0;
    margin-right:2px;
}

#idle_inhibitor {
    border-radius:40px 0px 0px 40px;
    padding-left:11px;
    padding-right:10px;
    margin-left:2px;
    margin-right:0;
}

#bluetooth.on, #bluetooth.off {
    color:#ea4d48;
    background:linear-gradient(0deg, rgba(218, 61, 56, 0.5), rgba(0, 0, 0, 0.4));
    margin-left:0;
    margin-right:0;
    padding-left:10px;
    padding-right:10px;
    text-shadow:2px 2px rgba(0, 0, 0, 0.7);
}

#bluetooth.connected, #bluetooth.connected.pairable {
    color:#74c280;
    background:linear-gradient(0deg, rgba(100, 178, 112, 0.5), rgba(0, 0, 0, 0.4));
    margin-left:0;
    margin-right:0;
    padding-left:10px;
    padding-right:10px;
    text-shadow:2px 2px rgba(0, 0, 0, 0.7);
}

#bluetooth.pairable:not(.connected), #bluetooth.discoverable {
    color:#5b55ca;
    background:linear-gradient(0deg, rgba(75, 69, 186, 0.5), rgba(0, 0, 0, 0.1));
    margin-left:0;
    margin-right:0;
    padding-left:11px;
    padding-right:11px;
    text-shadow:2px 2px rgba(0, 0, 0, 0.7);
}

#bluetooth.discovering {
    color:#fbb73e;
    background:linear-gradient(0deg, rgba(235, 167, 46, 0.5), rgba(0, 0, 0, 0.1));
    margin-left:0;
    margin-right:0;
    padding-left:11px;
    padding-right:11px;
    text-shadow:2px 2px rgba(0, 0, 0, 0.7);
}

#custom-clock, #network {
    color:#d154af;
    background:linear-gradient(0deg, rgba(193, 68, 159, 0.5), rgba(0, 0, 0, 0.4));
    margin-left:0;
    margin-right:2px;
    padding-left:12px;
    padding-right:10px;
    border-radius:0px 40px 40px 0px;
    text-shadow:2px 2px rgba(0, 0, 0, 0.6);
}
