/* @namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");
*/

* {
	font-family:"GoMono Nerd Font";
/*	font-weight:bold; */
    font-size:16px;
}

html|ul#folderTree {
	font-family:"GoMono Nerd Font" !important;
	font-size:17px !important;
}

html|tree-view#threadTree {
	font-family:"GoMono Nerd Font" !important;
	font-size:22px !important;
	font-style:italic !important;
}

panelview * {
	font-family:"GoMono Nerd Font" !important;
}

.moz-text-plain, .moz-text-plain pre {
	font-size:18px !important;
	line-height:1.1 !important;
}

.moz-text-plain[style="font-family: -moz-fixed; font-size: 12px;"] pre.moz-quote-pre {
	font-family:"GoMono Nerd Font" !important;
	font-size:16px !important;
}

tr.table-layout {
	margin-top:2px !important;
	margin-bottom:2px !important;
}

tr.table-layout td div div span {
	font-family:"GoMono Nerd Font" !important;
	font-size:16px !important;
}

#threadTree table[is="tree-view-table"] > tbody > tr > td * {
	-moz-appearance:none !important;
	appearance:none !important;
	font-family:"GoMono Nerd Font" !important;
}

#threadTree table > thead > tr > th > div > button {
	background-color:#441010ee !important;
	color:#efefef !important;
	border:1px solid #551e1e !important;
}

#threadTree treecol.subjectCol, #threadTree treecol.subjectCol * {
	font-family:"GoMono Nerd Font" !important;
	-moz-appearance:none !important;
	appearance:none !important;
}

#threadTree treecol.dateCol, #threadTree treecol.dateCol * {
	font-family:"GoMono Nerd Font" !important;
	-moz-appearance:none !important;
	appearance:none !important;
}

#messagepane body .moz-text-plain, #messagepane body .moz-text-plain pre, .moz-text-plain pre, pre.moz-quote-pre, .moz-text-flowed, #messagepane body {
	font-family:"GoMono Nerd Font" !important;
	font-size:16px !important;
	appearance:none !important;
	-moz-appearance:none !important;
}

#messagepane body * {
	font-family:"GoMono Nerd Font" !important;
	appearance:none !important;
	-moz-appearance:none !important;
}

treechildren::-moz-tree-cell(read) * {
	font-family:"GoMono Nerd Font" !important;
	appearance:none !important;
}

treechildren::-moz-tree-cell-text(read) * {
	font-family:"GoMono Nerd Font" !important;
	appearance:none !important;
}

treechildren::-moz-tree-cell(unread) * {
	font-family:"GoMono Nerd Font" !important;
	appearance:none !important;
}

treechildren::-moz-tree-cell-text(unread) * {
	font-family:"GoMono Nerd Font" !important;
	appearance:none !important;
}

.collapsed.selected.current {
	background-color:#00ff22ee !important;
	color:#000000 !important;
}

[is="tree-view-table-body"] > .selected {
	background-color:#00ff11dd !important;
	font-style:italic !important;
	color:#000000 !important;
}

[is="tree-view-table-body"] > .selected:hover {
	background-color:#00ff22ee !important;
	border:1px solid #00ff22 !important;
	color:#000000 !important;
}

#threadTree tr:hover {
	background-color:#10ddffee !important;
	border:1px solid #10ddff !important;
	color:#000000 !important;
}

#threadTree tr:nth-child(2n) {
	background-color:#10101099 !important;
}

#threadTree tr:nth-child(2n).selected {
	background-color:#00ff22ee !important;
	color:#000000 !important;
	font-style:italic !important;
}

#threadTree tr:nth-child(2n):hover {
	background-color:#10ddffdd !important;
	border:1px solid #10ddff !important;
	color:#000000 !important;
}

.message-header-container {
	row-gap:2px !important;
}

div#expandedsubjectBox span {
	font-size:24px !important;
}

html body #headingWrapper h1#heading span {
	font-family:"GoMono Nerd Font Propo" !important;
}
html body #headingWrapper h1#heading span#summaryTitle {
	font-size:24px !important;
	font-family:"GoMono Nerd Font Propo" !important;
}

ul#messageList li h2.item-header span span {
	font-size:22px !important;
	font-family:"GoMono Nerd Font Propo" !important;
}

ul#messageList li p.snippet {
	font-family:"GoMono Nerd Font Propo" !important;
	font-size:18px !important;
}

p.message {
	transition:all 0.2s ease 0s;
	margin-top:1px !important;
	margin-bottom:1px !important;
}

p.message .message-style .ib-msg-txt {
	font-size:17px !important;
}

p.message:hover {
	background:linear-gradient(180deg, rgba(100, 100, 100, 0.5), rgba(0, 0, 0, 0.5)) !important;
	color:#fdfdfd !important;
	border-top:1px solid #bfbfbf !important;
}

p.message:hover a {
	color:#fdfdfd !important;
}

p.event-messages {
	border-top:1px solid transparent !important;
	border-bottom:1px solid transparent !important;
	display:block;
	line-height:1.4 !important;
	margin-top:1px !important;
	margin-bottom:1px !important;
	padding-top:2px;
	padding-bottom:2px;
}

p.event-messages:hover {
	border-top:1px solid #bfbfbf !important;
	border-bottom:1px solid transparent !important;
	line-height:1.4 !important;
	margin-top:1px !important;
	margin-bottom:1px !important;
}

p.event-messages span {
	color:#cfcfcf !important;
	font-size:17px !important;
	font-style:italic !important;
}

p.event-messages:hover span {
	color:#efefef !important;
	font-size:17px !important;
	font-style:italic !important;
}

#chatPanel #listPaneBox richlistbox richlistitem * {
	font-size:16px !important;
	line-height:1.3 !important;
}

li[is="folder-tree-row"] div.container span {
	font-size:16px !important;
	line-height:1.3 !important;
}

hr#unread-ruler {
	border-top:2px dashed #c9c9c9 !important;
	border-bottom:2px dashed #c8c8c8 !important;
	margin-top:1px !important;
	margin-bottom:1px !important;
}

p.message span.pseudo span.ib-sender, .ib-msg-txt .ib-person span, .ib-msg-txt span.ib-nick {
	font-style:italic !important;
}

p.message span.pseudo span.ib-sender, .ib-msg-txt .ib-person span, .ib-msg-txt a, p.message .ib-msg-txt span.ib-nick, p.message .ib-msg-txt strong {
	font-size:17px !important;
}

div#Chat {
	background:linear-gradient(180deg, rgba(60, 80, 60, 0.4), rgba(10, 10, 10, 0.4)) !important;
}

vbox#listPaneBox {
	background:linear-gradient(180deg, rgba(80, 60, 60, 0.5), rgba(0, 0, 0, 0.5)) !important;
}

tbody[is="tree-view-table-body"] {
	background:linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(80, 50, 50, 0.5)) !important;
}

body #content {
	background:linear-gradient(180deg, rgba(35, 35, 35, 0.5), rgba(0, 0, 0, 0.5)) !important;
}

browser#messagepane, browser#messagepane html body {
	background:linear-gradient(180deg, rgba(35, 35, 35, 0.5), rgba(0, 0, 0, 0.5)) !important;
	font-size:18px !important;
}

tr.table-layout[style="height: 21px;"] {
	height:26px !important;
	margin-top:2px !important;
}

richlistitem[is="chat-imconv-richlistitem"][attention] {
	color:#ffed00 !important;
}
richlistitem[is="chat-imconv-richlistitem"][unread] {
	color:#ff4040 !important;
}

.new-messages > .container > .name {
	color:#ff4040 !important;
}

.new-messages > .container > .unread-count {
	background:#dd1010 !important;
	color:#fefefe !important;
}

.conv-hbox .convUnreadTargetedCount {
    padding:0px !important;
    margin:0px !important;
    background-color:rgba(0, 0, 0, 0.9) !important;
    border-radius:0px !important;
}

.conv-hbox .convUnreadTargetedCount .convUnreadTargetedCountLabel {
    color:lime !important;
    font-style:italic !important;
    margin-inline:5px 4px !important;
}

#previousConversations {
    display:none !important;
}

textarea.conv-textbox div {
	background:linear-gradient(180deg, rgba(30, 30, 30, 0.5), rgba(10, 10, 10, 0.5)) !important;
	border-top:1px solid gray !important;
	padding:5px !important;
}

textarea.conv-textbox, textarea.conv-textbox div {
	font-size:1.25em !important;
}

browser#messagepane {
	padding-left:10px !important;
}

div.moz-text-html a, div.moz-text-html a:link, div.moz-text-html a:active, div.moz-text-html div.md a, div.moz-text-html div.md a:link, div.moz-text-html div.md a:active, div.moz-text-plain pre a, div.moz-text-plain pre a:link, div.moz-text-plain pre a:active, div.moz-text-plain a, div.moz-text-plain a:link, div.moz-text-plain a:active {
	color:hotpink !important;
}

div.moz-text-html a:hover, div.moz-text-html div.md a:hover, div.moz-text-html div.md p a:hover, div.moz-text-plain a:hover {
	color:#fedddd !important;
}

div.moz-text-html, div.moz-text-html div.md a, div.moz-text-html div.md p a {
	font-size:18px !important;
	line-height:1.12 !important;
}

div.moz-text-html div.md p, div.moz-text-html p {
	font-size:18px !important;
	line-height:1.12 !important;
	margin-top:3px !important;
}

#header-view-toolbar toolbarbutton, .toolbarbutton-1 {
	padding:4px 6px !important;
	background:linear-gradient(180deg, purple, #101010) !important;
	border-radius:6px !important;
	margin-left:4px !important;
	margin-right:4px !important;
	border:1px solid black !important;
}

#header-view-toolbar toolbarbutton:hover, .toolbarbutton-1:hover {
	background:linear-gradient(180deg, magenta, #191919) !important;
	border:1px solid purple !important;
	border-radius:6px !important;
}

#header-view-toolbar toolbarbutton label {
	font-size:19px !important;
	font-weight:bold !important;
}

#calendar-show-todaypane-panel {
	display:none !important;
}

ol.tags-list li.tag {
	padding:8px !important;
	line-height:1.2 !important;
	background:#000 !important;
	color:#aa9900 !important;
	border:1px solid darkorange !important;
	border-radius:5px !important;
	margin-bottom:7px !important;
}

.tree-table-cell-container button:hover {
	background:#a9a9a9 !important;
	color:#000 !important;
	border-bottom:1px solid #dd0000 !important;
}

