li.dfp-ad-container, div.sidebar-ad, div.sidebar-ad--sticky, div#tumblr_radar, section.infobar.listingsignupbar, form.premium-banner, span.awardings-bar {
	display:none !important;
}

li.takeover-container {
	display:none !important;
}

* {
	outline:0 !important;
}
*:focus, *:active {
	outline:0 !important;
}

input[type="text"] {
	appearance:none !important;
	-moz-appearance:none !important;
	-webkit-appearance:none !important;
	-webkit-user-select:text !important;
	font-family:"Arial";
	color:black;
	font-size:13px;
	min-height:14px;
	padding:1px 2px;
}

input[type="text"]:focus {
	border:1px solid white;
	-webkit-appearance:none !important;
}

button, input[type="submit"], input[type="button"] {
	appearance:none !important;
	-moz-appearance:none !important;
	-webkit-appearance:none !important;
	font-family:"Arial";
	font-size:14px;
	min-height:14px !important;
	min-width:40px !important;
	padding:8px 6px 8px;
}

select {
	appearance:menulist !important;
	-moz-appearance:menulist !important;
	-webkit-appearance:menulist !important;
	font-family:"Arial";
	font-size:13px;
	background:none !important;
	width:90px;
	height:26px;
	margin:2px;
	padding:2px 4px 2px;
}

textarea {
	appearance:textarea !important;
	-moz-appearance:textarea !important;
	-webkit-appearance:textarea !important;
	font-family:"Arial";
	font-size:13px;
	color:black;
	min-height:80px !important;
	min-width:100px !important;
}

